@use 'variables' as var;

.bio {
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-top: 1.6em;
    background-color: var(--theme-secondary);
    border-radius: var.$radius;
    padding: 3.2em 2.4em;

    @include var.breakmin(var.$ipad) {
        $dimension: 117px;
        margin-top: 2.4em;
        padding: 4em;
        grid-template-columns: $dimension 1fr;
        @include var.shadow;
    }

    @include var.breakmin(var.$desktop) {
        grid-template-columns: 158px 1fr;
    }

    &__avatar {
        $dimension: 70px;
        width: $dimension;
        height: $dimension;
        border-radius: 50%;

        @include var.breakmin(var.$ipad) {
            $dimension: 117px;
            width: $dimension;
            height: $dimension;
        }

        @include var.breakmin(var.$desktop) {
            grid-column: 1 / 2;
            grid-row: 1 / 5;
        }
    }

    &__meta {
        margin-left: 1.9em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include var.breakmin(var.$ipad) {
            margin-left: 4.1em;
        }

        @include var.breakmin(var.$desktop) {
            margin-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        &__name {
            font-size: var.$fz-med;
            font-weight: 700;
            color: var(--theme-heading);

            @include var.breakmin(var.$ipad) {
                font-size: var.$fz-xlrg;
                margin-bottom: .076923em;
            }

            @include var.breakmin(var.$desktop) {
                grid-column: 1 / 2;
            }
        }

        &__username {
            font-size: var.$fz-xxsmall;
            color: var(--theme-primary);

            @include var.breakmin(var.$ipad) {
                font-size: var.$fz-med;
                margin-bottom: .25em;
            }

            @include var.breakmin(var.$desktop) {
                grid-column: 1 / 2;
            }
        }

        &__joined {
            font-size: var.$fz-xxsmall;
            color: var(--theme-foreground);

            @include var.breakmin(var.$ipad) {
                font-size: var.$fz-small;
            }

            @include var.breakmin(var.$desktop) {
                grid-column: 2 / -1;
                grid-row: 1 / 2;
                text-align: right;
            }
        }
    }

    &__bio {
        grid-column: 1/ -1;
        margin-top: 2.538461em;
        font-size: var.$fz-xxsmall;
        color: var(--theme-accent);
        line-height: 1.9230769em;

        @include var.breakmin(var.$ipad) {
            margin-top: 1.6em;
            font-size: var.$fz-small;
            line-height: 1.66666667em;
        }

        @include var.breakmin(var.$desktop) {
            grid-column: 2 / -1;
        }
    }

    &__repos {
        grid-column: 1/ -1;
        border-radius: 10px;
        background-color: var(--theme-background);
        padding: 1.8em 3em;
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 2.3em;

        @include var.breakmin(var.$ipad) {
            padding: 1.6em 3.2em;
            margin-top: 3.2em;
        }

        @include var.breakmin(var.$desktop) {
            grid-column: 2 / -1;
        }

        &__card {
            &__title {
                font-size: 1.1em;
                color: var(--theme-accent);
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: .72727272em;

                @include var.breakmin(var.$ipad) {
                    font-size: var.$fz-xxsmall;
                    margin-bottom: 0;
                }
            }

            &__value {
                font-size: 1.6em;
                color: var(--theme-heading);
                font-weight: 700;

                @include var.breakmin(var.$ipad) {
                    font-size: var.$fz-lrg;
                    text-align: left;
                }
            }
        }
    }

    &__links {
        grid-column: 1/ -1;
        list-style-type: none;
        margin-top: 2.4em;

        @include var.breakmin(var.$ipad) {
            display: flex;
            flex-wrap: wrap;
        }

        @include var.breakmin(var.$desktop) {
            grid-column: 2 / -1;
            margin-top: 3.2em;
        }

        &__item {
            display: grid;
            grid-template-columns: 20px 1fr;
            margin-bottom: 1.6em;
            font-size: var.$fz-xxsmall;
            overflow: hidden;

            @include var.breakmin(var.$ipad) {
                width: 50%;
                margin-bottom: 1.4615384em;

                &.location {
                    order: 1;
                }

                &.blog {
                    order: 3;
                }

                &.twitter {
                    order: 2;
                }

                &.company {
                    order: 4;
                }
            }

            &__icon {
                path {
                    fill: var(--theme-accent);
                }
            }

            &__text {
                padding-left: 1em;
                color: var(--theme-accent);
                width: max-content;

                @include var.breakmin(var.$ipad) {
                    font-size: var.$fz-small;
                }
            }


        }
    }
}

.dark-mode {
    .bio {
        @include var.breakmin(var.$ipad) {
            box-shadow: none;
        }
    }
}