@use 'variables' as var;

:root {
    --theme-primary:    var(--azure_radiance);
    --theme-secondary:  var(--white);
    --theme-tertiary:   var(--big-stone);
    --theme-background: var(--zircon);
    --theme-foreground: var(--lynch);
    --theme-heading:    var(--ebony-clay);
    --theme-accent:     var(--kashmir-blue);
    --theme-error:      var(--sunset-orange);
    --theme-white:      var(--white);
}

.dark-mode {
    --theme-secondary:  var(--cloud-burst);
    --theme-background: var(--big-stone);
    --theme-foreground: var(--white);
    --theme-heading:    var(--white);
    --theme-accent:     var(--white );
    --theme-error:      var(--sunset-orange);
    --theme-white:      var(--white);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 1px;
    clip: rect(0,0,0,0);
}

.unavailable {
    opacity: .5;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var.$font-family;
    background-color: var(--theme-background);
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#container {
    width: max(100%, var.$mobile);
    margin: 10vw auto;
    padding: 0 2.4em;

    @include var.breakmin(var.$ipad) {
        color: green;
        width: var.$ipad;
    }
}