@use 'variables' as var;

:root {
    --theme-primary:    var(--azure_radiance);
    --theme-secondary:  var(--white);
    --theme-tertiary:   var(--big-stone);
    --theme-background: var(--zircon);
    --theme-foreground: var(--lynch);
    --theme-heading:    var(--ebony-clay);
    --theme-accent:     var(--kashmir-blue);
    --theme-error:      var(--sunset-orange);
}

.dark-mode {
    --theme-secondary:  var(--cloud-burst);
    --theme-background: var(--big-stone);
    --theme-foreground: var(--white);
    --theme-heading:    var(--white);
    --theme-accent:     var(--white );
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 1px;
    clip: rect(0,0,0,0);
}

.unavailable {
    opacity: .5;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var.$font-family;
    background-color: var(--theme-background);
}

a {
    text-decoration: none;
}

// .font-xlarge {
//     font-size: var.$fz-xlrg;
//     line-height: var.$lh-xlrg;
// }

// .font-large {
//     font-size: var.$fz-lrg;
//     line-height: var.$lh-lrg;
// }

// .font-med {
//     font-size: var.$fz-med;
//     line-height: var.$lh-med;
// }

// .font-small {
//     font-size: var.$fz-small;
//     line-height: var.$lh-small;
// }

// .font-xsmall {
//     font-size: var.$fz-xsmall;
//     line-height: var.$lh-xsmall;
// }

#container {
    width: 375px;
    margin: 10vw auto;
    padding: 0 2.4em;
}