@use 'variables' as var;

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: var.$fz-xlrg;
        color: var(--theme-heading);
    }

    &__theme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        letter-spacing: .19230769em;
        text-transform: uppercase;
        font-weight: 700;
        color: var(--theme-accent);
        border: none;
        background-color: inherit;
        font-family: var.$font-family;

        &:hover {
            cursor: pointer;
        }

        &__img {
            $dimension: 20px;
            width: $dimension;
            height: $dimension;
            margin-left: 1.2308em;
        }
    }
}