@use 'variables' as var;

.search {
    margin-top: 3.6em;
    display: flex;
    align-items: center;
    background-color: var(--theme-secondary);
    padding: .65em 0;
    padding-right: 0.7em;
    padding-left: 1.6em;
    border-radius: var.$radius;

    @include var.breakmin(var.$ipad) {
        padding: .95em;
        @include var.shadow;
    }

    &__icon {
        $dimension: 20px;

        @include var.breakmin(var.$ipad) {
            $dimension: 24px;
            margin-left: 2.25em;
        }

        width: $dimension;
        height: $dimension;
    }

    &__form {
        display: flex;
        position: relative;
        width: 100%;

        &__input {
            margin-left: .895em;
            flex: 1;
            border: none;
            outline: none; // for a11y?
            font-family: var.$font-family;
            font-size: 1.2rem;
            line-height: 1.92308em;
            color: var(--theme-accent);
            background-color: var(--theme-secondary);

            @include var.breakmin(var.$ipad) {
                font-size: 1.8rem;
                line-height: 1.38889em;
            }

            &::placeholder{
                color: var(--theme-accent);
            }
        }

        &__errors {
            position: absolute;
            color: var(--theme-error);
            white-space: nowrap;
            font-weight: 700;
            font-size: 1.2rem;
            right: 100px;
            top: 50%;
            transform: translateY(-50%);

            @include var.breakmin(var.$ipad) {
                font-size: var.$fz-small;
                right: 120px;
            }
        }

        &__submit {
            padding: .892857em 1.285714em;
            font-family: var.$font-family;
            font-size: var.$fz-xsmall;
            font-weight: 700;
            color: var(--theme-white);
            background-color: var(--theme-primary);
            border: none;
            border-radius: var.$radius;

            @include var.breakmin(var.$ipad) {
                font-size: 1.6rem;
                padding: .78125em 1.5em;
            }

            &:hover {
                cursor: pointer;
                background-color: var(--theme-hover);
            }
        }
    }
}

.dark-mode {
    .search {
        @include var.breakmin(var.$ipad) {
            box-shadow: none;
        }
    }
}