@use 'variables' as var;

.search {
    margin-top: 3.6em;
    display: flex;
    align-items: center;
    background-color: var(--theme-secondary);
    padding: .65em 0;
    padding-right: 0.7em;
    padding-left: 1.6em;
    border-radius: var.$radius;

    &__icon {
        // margin-left: 1.6em;
        width: 20px;
        height: 20px;
    }

    &__form {
        display: flex;
        width: 100%;

        &__input {
            margin-left: .895em;
            flex: 1;
            border: none;
            outline: none; // for a11y?
            font-family: var.$font-family;
            font-size: 1.2rem;
            line-height: 1.92308em;
            color: var(--theme-accent);
            background-color: var(--theme-secondary);

            &::placeholder{
                color: var(--theme-accent);
            }
        }

        &__submit {
            padding: .892857em 1.285714em;
            font-family: var.$font-family;
            font-size: var.$fz-xsmall;
            font-weight: 700;
            color: var(--theme-white);
            background-color: var(--theme-primary);
            border: none;
            border-radius: var.$radius;
        }
    }
}