$font-family: 'Space Mono', monospace;

$fz-xlrg:   2.6rem;
$fz-lrg:    2.2rem;
$fz-med:    1.6rem;
$fz-small:  1.5rem;
$fz-xsmall: 1.3rem;

$lh-xlrg:   3.8;
$lh-lrg:    3.3;
$lh-med:    2.5;
$lh-small:  2.4;
$lh-xsmall: 2.0;
